apiVersion: v1
kind: PersistentVolume
metadata:
  name: alta
spec:
  capacity:
    storage: 2Gi
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alta-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: alta-pod
spec:
  nodeSelector:
    kubernetes.io/hostname: minikube
  containers:
  - name: alta-container-with-pv
    image: nginx
    ports:
    - name: http
      containerPort: 80
      protocol: TCP
    volumeMounts:
    - mountPath: "/data"
      name: alta-volume
  volumes:
  - name: alta-volume
    persistentVolumeClaim:
      claimName: alta-claim